#wrapper {
  margin: 0 auto;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* #wd {
  width: 4vw;
  height: 4vw;
  position: absolute;
  left: 0;
}
#wdtext {
  font-size: 0.1vw;
  left: 5.5vw;
  top: -1vw;
  position: absolute;
} */

header {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
nav {
  margin: 0 auto;
  background-color: black;
  width: 100%;
  height: 100%;
}
ul {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  background-color: black;
  width: 100%;
  height: 100%;
}
ul:hover * {
  color: white;
  opacity: 0.7;
  transform: scale(0.8, 0.8);
}
li {
  list-style: none;
  display: inline-block;
  /* background-color: lightgreen; */
}
li:hover {
  transform: scale(1.5, 1.5);
  opacity: 1 !important;
}
.now {
  color: white;
}
a {
  text-decoration: none;
  padding: 0 20px;
  color: red;
  font-size: 2vw;
  /* background-color: lightsalmon; */
  width: 100%;
  height: 100%;
}
a:hover {
  color: white;
  opacity: 1 !important;
  text-decoration: underline;
}

/* 비디오 */
#videoArea {
  position: relative;
  width: 100vw;
  height: 80vh;
}
#mainplay {
  width: 100%;
  height: 100%;
}
#mainVideo {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#bona {
  width: auto;
  height: 40vh;
  position: absolute;
  left: 0;
  bottom: 0;
}
#wondo {
  width: auto;
  height: 40vh;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* 비디오 위에 글씨 */
#maintext {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  color: white;
  font-size: 3vw;
  top: 0;
}
#come {
  animation-name: my;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
#wbt {
  /* animation-name: me;
  animation-duration: 1s;
  animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
  /* animation-timing-function: ease-out; */
}
#wt {
  position: absolute;
  color: white;
  font-size: 3vw;
  top: 5vh;
  right: 3.5vw;
  animation-name: won;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#bt {
  position: absolute;
  color: white;
  font-size: 3vw;
  top: 5vh;
  left: 3.5vw;
  animation-name: bo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bo {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes won {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes my {
  0% {
    transform: scale(1.5, 1.5);
  }
  25% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  75% {
    transform: scale(0);
  }
  100% {
    transform: scale(1.5, 1.5);
    /* width: 300px; */
    /* height: 300px; */
  }
}
@keyframes me {
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0);
  }
}

#come {
  font-size: 5vw;
}

/* 자기소개 */
#intro {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-color: black;
}
#pyh {
  position: absolute;
  width: 30vw;
  height: 80vh;
  left: 15vw;
  border: 1px solid white;
  overflow: hidden;
}
#pyhimg {
  position: absolute;
  width: auto;
  height: 80vh;
  left: -4vw;
}
#pyhintro {
  position: absolute;
  width: 30vw;
  height: 80vw;
  overflow: hidden;
  text-align: center;
  right: 23vw;
  color: white;
  font-size: 1.5vw;
  top: 25vh;
}
#hello {
  font-size: 1vw;
  text-align: left;
}
#self {
  text-align: left;
}

/* 취미 */
#wbpicarea {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-color: black;
  /* margin: 0;
  padding: 0; */
  /* height: auto; */
}
#wbpic {
  position: absolute;
  width: 70vw;
  height: 80vh;
  left: 15vw;
  border: 1px solid white;
  overflow: auto;
}
#box {
  margin: 0;
  padding: 0;
  height: 3000px;
}
#wb1 {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../image/wb_1.jpg);
  background-attachment: fixed;
  background-repeat: inherit;
  background-size: 100vw 100vh;
}
#wb2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_2.jpg);
  background-attachment: fixed;
  background-size: 60vw 88vh;
}
#wb3 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_3.jpg);
  background-attachment: fixed;
  background-size: 80vw 100vh;
}
#wb4 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_4.jpg);
  background-attachment: fixed;
  background-size: 60vw 100vh;
}
#wb5 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_6.jpg);
  background-attachment: fixed;
}
#wb7 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_7.jpg);
  background-attachment: fixed;
}
#wb8 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_8.jpg);
  background-attachment: fixed;
}
#wb9 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_9.jpg);
  background-attachment: fixed;
}
#wb10 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_10.jpg);
  background-attachment: fixed;
}
#wb11 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_11.jpg);
  background-attachment: fixed;
}
#wb12 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_12.jpg);
  background-attachment: fixed;
}
#wb13 {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/wb_13.jpg);
  background-attachment: fixed;
}
#wbpictext {
  position: absolute;
  width: 30vw;
  height: 80vw;
  overflow: hidden;
  text-align: center;
  right: 23vw;
  color: white;
  font-size: 1.5vw;
  top: 30vh;
}

/* 로드맵 */
.roadarea {
  position: relative;
  /* width: 100vw;
  height: 80vh; */
  background-color: black;
}
/* .road {
  position: absolute;
  width: 30vw;
  height: 80vh;
  left: 15vw;
  border: 1px solid white;
  overflow: hidden;
} */
.roadtext {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
}

.container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.container .column {
  width: 25%;
  height: 100%;
  float: left;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 1;
}
.container .column:last-child {
  border-right: none;
}
.container .column .content {
  position: relative;
  height: 100%;
}
.container .column .content h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.2);
  font-size: 10em;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
.container .column .content .box {
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  box-sizing: border-box;
  padding: 40px;
  background: rgba(255, 255, 255, 1);
  text-align: center;
  transition: 0.5s;
  opacity: 0;
}
.container .column.active .content .box {
  opacity: 1;
  transform: translateY(-50%);
}
.container .column .content .box h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  color: #262626;
}
.container .column .content .box p {
  color: #262626;
  font-size: 18px;
}
.container .column .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.container .column.active .bg.bg1 {
  background: url(../image/wb_1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}
.container .column.active .bg.bg2 {
  background: url(../image/wb_2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}
.container .column.active .bg.bg3 {
  background: url(../image/wb_3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}
.container .column.active .bg.bg4 {
  background: url(../image/wb_4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}

/* 로그인 */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.loghtml,
.logbody {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
::selection {
  background: #fa4299;
  color: #fff;
}
.logmain {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.logmain .title-text {
  display: flex;
  width: 200%;
}
.logmain .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.logmain .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
input[type="radio"] {
  display: none;
}
#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.signup {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.logmain .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: #fc83bb;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #fa4299;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
    #a445b2,
    #fa4299,
    #a445b2,
    #fa4299
  );
  border-radius: 5px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

footer {
  background-color: black;
  clear: both;
  text-align: center;
  padding-bottom: 30px;
}
footer p {
  /* text-align: left;
  margin: 0; */
  color: white;
}
